.Board {
  display: inline-block;
  padding: 35px 30px;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 16px;
  text-align: center;
  background-color: #272b38;
  justify-content: center; 
  
  
}

.Board-winner {
  border: 1px solid #fff;
  box-shadow: 0 0 12px 0 hsla(0, 0%, 100%, 0.48);
}

.Board-heading:first-child {
  margin-top: 0;
}

.Board-heading {
  margin: 45px auto 15px;
  color: #888d9d;
  font-weight: 400;
  font-size: 18px;
}

.Board-records {
  width: 100%;  /* Board 내부에서 가득 차게 설정 */
  word-wrap: break-word;  /* 길어지면 자동 줄바꿈 */
  text-align: center;  /* 중앙 정렬 */
  font-size: 14px;
}